name: CI + Trigger GitLab CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Run tests
      run: dotnet test --no-build --verbosity normal

    - name: Publish build output
      run: dotnet publish -c Release -o output

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: backend-build
        path: output/

    - name: Trigger GitLab CD
      if: success()
      run: |
        curl -X POST \
        -F token=$GITLAB_TRIGGER \
        -F ref=main \
        https://gitlab.com/api/v4/projects/76407611/trigger/pipeline
      env:
        GITLAB_TRIGGER: ${{ secrets.GITLAB_TRIGGER }}
