name: CI + Build Docker + Push + Trigger GitLab CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # required for GHCR push

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Run tests
      run: dotnet test --no-build --verbosity normal

    - name: Build Docker image
      run: docker build -t ghcr.io/${{ github.repository_owner }}/productservice:latest .

    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push Docker image
      run: docker push ghcr.io/${{ github.repository_owner }}/productservice:latest

    - name: Trigger GitLab CD
      if: success()
      run: |
        curl -X POST \
        -F token=$GITLAB_TRIGGER \
        -F ref=master \
        https://gitlab.com/api/v4/projects/76407611/trigger/pipeline
      env:
        GITLAB_TRIGGER: ${{ secrets.GITLAB_TRIGGER }}
